@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@300;400;500;600;700;800&family=Karla:wght@300;400;500;600;700;800&family=Poor+Story&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --border-color: rgb(19, 135, 141);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Acme', sans-serif;
    letter-spacing: 4px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: black;
}
.title,.footer{
    background-color: rgb(26, 22, 22);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: rgb(233, 216, 216);
    font-size: 7rem;
}
.footer{
    height: 3rem;
    color: white;
}
.messages{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 2.5rem;
    color:  rgb(19, 135, 141);
}
.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0rem;
}
.cells{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: rgb(193, 199, 188);
    height: 9rem;
    width: 9rem;
}

.board0{
    border-bottom: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
    border-top: transparent;
    border-left: transparent;
}
.board1{
    border-top: transparent;
    border-bottom: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
}
.board2{
    border-top: transparent;
    border-right: transparent;
    border-bottom: 4px solid var(--border-color);
}
.board3{
    border-left: transparent;
    border-bottom: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
}
.board4{
    border-bottom: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
}
.board5{
    border-right: transparent;
    border-bottom: 4px solid var(--border-color);
}
.board6{
    border-left: transparent;
    border-bottom: transparent;
    border-right: 4px solid var(--border-color);
}
.board7{
    border-bottom: transparent;
    border-right: 4px solid var(--border-color);
}
.board8{
    border-right: transparent;
    border-bottom: transparent;
    
}


.reset{
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 7px;
    font-family: 'Acme', sans-serif;
    letter-spacing: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}